/StudyOfRelativeEfficiency/build/*
/Tools/ToolsForGATE/GlobalActorReader/build/*
/Tools/j-pet-framework/*
/build/*
/NEMAControlHistograms/build/*
/TXTConverters/TXTConverterGATE/build/*
/DetectionPerformance/build/*
/DetectionPerformance/CMakeLists.txt
/DetectionPerformance/EfficiencyPlotter/build/*
/DetectionPerformance/EfficiencyPlotter/CMakeLists.txt
